{% extends 'admin.html' %}
{% block css %}
<style>
div.pagefoot {text-align:right;}
</style>
{% endblock %}
<style>
div.pagefoot {text-align:right;}
</style>
{% block content %}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
</fieldset>

<div class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始</label>
            <div class="layui-input-inline" id="starttime">
                <input type="text" class="layui-input" id="test11" placeholder="{{ starttimestr }}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="test12" placeholder="{{ nowtimestr }}">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <button class="layui-btn" id="btn">查询</button>
            </div>
        </div>
    </div>
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
</fieldset>

<table class="layui-table" lay-even="" lay-skin="row">
    <colgroup>
        <col width="200">
        <col width="150">
        <col width="200">
    </colgroup>
    <thead>
    <tr>
        <th>日期</th>
        <th>上传数量</th>
        <th>详情</th>
    </tr>
    </thead>
    <tbody>
    {# {% for v in date_list %}#}
    {% for v in page_data %}
    <tr>
        <td>{{ v.time }}</td>
        <td>{{ v.count }}</td>
        <td><a href="{{ url_for('admin.check_list',createdtime=v.time,page=1) }}">查看</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagefoot">本页共{{ singal_data_count }}条数据/总共{{ n }}条数据</div>
<div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="{{ url_for('admin.query_list',send_time=send_time,page=1) }}">首页</a></li>
        {% if page!=1 %}
        <li><a href="{{ url_for('admin.query_list',send_time=send_time,page=pre_page) }}">上一页</a></li>
        {% else %}
        <li class="disabled"><a href="#">上一页</a></li>
        {% endif %}
        {% for v in pagenum %}
        {% if v %}
        {% if v != page %}
        <li><a href="{{ url_for('admin.query_list',send_time=send_time,page=v) }}">{{ v }}</a></li>
        {% else %}
        <li class="active"><a href="#">{{ v }}</a></li>
        {% endif %}
        {% endif %}

        {#
        <li><a href="#">3</a></li>
        #}
        {% endfor %}
        {% if page!=count %}
        <li><a href="{{ url_for('admin.query_list',send_time=send_time,page=next_page) }}">下一页</a></li>
        {% else %}
        <li class="disabled"><a href="#">下一页</a></li>
        {% endif %}
        <li><a href="{{ url_for('admin.query_list',send_time=send_time,page=count) }}">尾页</a></li>
    </ul>
</div>
{% endblock %}
{% block js %}
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //自定义格式
        laydate.render({
            elem: '#test11'
            , format: 'yyyy-MM-dd'
        });

        laydate.render({
            elem: '#test12'
            , format: 'yyyy-MM-dd'
        });
    });
</script>
<script>
    /*     var send_start_time = "";
     var send_now_time = "";
     var myDate = new Date();
     var year = myDate.getFullYear();
     var nowmonth = myDate.getMonth() + 1;
     var day = myDate.getDate();
     var nowtime = year + '年' + nowmonth + '月' + day + '日';
     var nowtimestr = year + '-' + nowmonth + '-' + day;
     console.log(nowtimestr);


     function getPreMonth(date) {
     var arr = date.split('-');
     var year = arr[0]; //获取当前日期的年份
     var month = arr[1]; //获取当前日期的月份
     var day = arr[2]; //获取当前日期的日
     var days = new Date(year, month, 0);
     days = days.getDate(); //获取当前日期中月的天数
     var year2 = year;
     var month2 = parseInt(month) - 1;
     if (month2 == 0) {
     year2 = parseInt(year2) - 1;
     month2 = 12;
     }
     var day2 = day;
     var days2 = new Date(year2, month2, 0);
     days2 = days2.getDate();
     if (day2 > days2) {
     day2 = days2;
     }
     if (month2 < 10) {
     month2 = '0' + month2;
     }
     var t2 = year2 + '-' + month2 + '-' + day2;
     return t2;
     }
     var starttimestr = getPreMonth(nowtimestr);
     console.log(starttimestr);
     var arr = starttimestr.split('-');
     var starttime = arr[0] + "年" + arr[1] + "月" + arr[2] + "日";
     console.log(starttime);
     console.log("1")
     console.log("2")
     console.log(define_time);
     var arys = define_time.split(',');
     document.getElementById("test11").placeholder = arys[0];
     document.getElementById("test12").placeholder = arys[1];

     function Format(now, mask) {
     var d = now;
     var zeroize = function (value, length) {
     if (!length) length = 2;
     value = String(value);
     for (var i = 0, zeros = ''; i < (length - value.length); i++) {
     zeros += '0';
     }
     return zeros + value;
     };

     return mask.replace(/"[^"]*"|'[^']*'|\b(?:d{1,4}|m{1,4}|yy(?:yy)?|([hHMstT])\1?|[lLZ])\b/g, function ($0) {
     switch ($0) {
     case 'd':
     return d.getDate();
     case 'dd':
     return zeroize(d.getDate());
     case 'ddd':
     return ['Sun', 'Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat'][d.getDay()];
     case 'dddd':
     return ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][d.getDay()];
     case 'M':
     return d.getMonth() + 1;
     case 'MM':
     return zeroize(d.getMonth() + 1);
     case 'MMM':
     return ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][d.getMonth()];
     case 'MMMM':
     return ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][d.getMonth()];
     case 'yy':
     return String(d.getFullYear()).substr(2);
     case 'yyyy':
     return d.getFullYear();
     case 'h':
     return d.getHours() % 12 || 12;
     case 'hh':
     return zeroize(d.getHours() % 12 || 12);
     case 'H':
     return d.getHours();
     case 'HH':
     return zeroize(d.getHours());
     case 'm':
     return d.getMinutes();
     case 'mm':
     return zeroize(d.getMinutes());
     case 's':
     return d.getSeconds();
     case 'ss':
     return zeroize(d.getSeconds());
     case 'l':
     return zeroize(d.getMilliseconds(), 3);
     case 'L':
     var m = d.getMilliseconds();
     if (m > 99) m = Math.round(m / 10);
     return zeroize(m);
     case 'tt':
     return d.getHours() < 12 ? 'am' : 'pm';
     case 'TT':
     return d.getHours() < 12 ? 'AM' : 'PM';
     case 'Z':
     return d.toUTCString().match(/[A-Z]+$/);
     // Return quoted strings with the surrounding quotes removed
     default:
     return $0.substr(1, $0.length - 2);
     }
     });
     }
     function StringToDate(DateStr) {


     var converted = Date.parse(DateStr);

     var myDate = new Date(converted);

     if (isNaN(myDate)) {

     //var delimCahar = DateStr.indexOf('/')!=-1?'/':'-';

     var arys = DateStr.split('-');

     myDate = new Date(arys[0], --arys[1], arys[2]);

     }

     return myDate;

     }
     function TurnFormat(data) {
     var now = data.replace("年", "-");
     a = now.replace("月", "-");
     b = a.replace("日", "");
     return b
     }*/
    $("#btn").click(function () {
        var startTimeValue = $("#test11").val();
        var endTimeValue = $("#test12").val();
        if (startTimeValue == "" && endTimeValue == "") {
            send_start_time = $("#test11").attr('placeholder');
            send_now_time = $("#test12").attr('placeholder');
        }
        else if (startTimeValue == "" && endTimeValue != "") {
            send_start_time = $("#test11").attr('placeholder');
            send_now_time = endTimeValue;
        }
        else if (startTimeValue != "" && endTimeValue == "") {
            send_start_time = startTimeValue;
            send_now_time = $("#test12").attr('placeholder');
        }
        else {
            send_start_time = startTimeValue;
            send_now_time = endTimeValue;
        }
        var send_time = send_start_time + "," + send_now_time;
        var url = "http://127.0.0.1:5000/admin/query/list/" + send_time + "/1";
        console.log("url", url);
        window.location.href = url;
        return false
    })
</script>
{% endblock %}